<div class="panel panel-default">
	<div class="panel-heading">
		<ul class="list-unstyled">
			<li><b>From: </b>{{$ctrl.mail.to}}</li>
			<li><b>Subject: </b>{{$ctrl.mail.subject}}</li>
		</ul>
	</div>
	<div class="panel-body">
		{{$ctrl.mail.body}}
	</div>
	<button class="btn btn-default btn-primary" ui-sref="newmail({useremail: $ctrl.mail.to})">reply</button>
	<button class="btn btn-default btn-primary" ng-click="$ctrl.removeMail($ctrl.mail._id)">delete</button>
	<button class="btn btn-default btn-primary" ui-sref="editmailitem({mailId: $ctrl.mail._id})">edit</button>
</div>