<div  id="detail-view" class="detail-view col-sm-10">
    <div class="form-group">
        <h4>Edit mail:</h4>
        <label for="to">To: </label>
        <input class="form-control" type="" name="to" ng-model="$ctrl.mail.to" placeholder="to">
    </div>
    <div class="form-group">
        <label for="subject">Subject: </label>
        <input class="form-control" type="" name="subject" ng-model="$ctrl.mail.subject" placeholder="subject">
    </div>
    <div class="form-group">
        <label for="text">Text: </label>
        <textarea name="text" class="form-control" placeholder="Enter text here" ng-model="$ctrl.mail.body" placeholder="text"
        rows="20" cols="50"></textarea><br>
        <button ng-click="$ctrl.editMail($ctrl.mail)" ui-sref="inbox">EDIT MAIL</button>
        <button ng-click="$ctrl.discard()">DISCARD CHANGES</button>
    </div>
</div>
