        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad" >
        	<div class="panel panel-default">
        		<div class="panel-heading">
        			<h4 class="panel-title">Add new contact</h4>
        		</div>
        		<div class="panel-body">
        			<form name="userForm" novalidate>
                       <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="" name="firstName" class="form-control" ng-model="$ctrl.user.firstName" required minlength="2">
                        <span class="bg-warning" ng-if="(userForm.firstName.$error.required && userForm.firstName.$touched)">First name is required</span>
                        <span class="bg-warning" ng-if="(userForm.firstName.$error.minlength && userForm.firstName.$touched)">First name should be at leat 2 characters long</span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="" name="lastName" class="form-control" ng-model="$ctrl.user.lastName" required minlength="2">
                        <span class="bg-warning" ng-if="(userForm.lastName.$error.required && userForm.lastName.$touched)">Last name is required</span>
                        <span class="bg-warning" ng-if="(userForm.lastName.$error.minlength && userForm.lastName.$touched)">Last name should be at leat 2 characters long</span>
                    </div>
                    <div class="form-group">
                       <label for="email">Email</label>
                       <input type="email" name="email" class="form-control" placeholder="email" ng-model="$ctrl.user.email" ng-pattern="$ctrl.emailFormat" required>
                       <span class="bg-warning" ng-if="(userForm.email.$error.required && userForm.email.$touched)">Email is required!</span>
                       <span class="bg-warning" ng-if="(userForm.email.$invalid && userForm.email.$touched)">Must be a valid email address: address@domain.com format </span>
                   </div>
                   <label for="birthdate">Birth date</label><input type="date" class="form-control" name="birthdate" ng-model="$ctrl.user.birthdate" required>
                   <span class="bg-warning"  ng-if="(userForm.birthdate.$error.required && userForm.birthdate.$touched)">Birth date is required!</span><br>
                   <label for="gender">Gender: </label>
                   <input type="radio" name="gender" value="M"  ng-model="$ctrl.user.gender" required>male
                   <input type="radio" name="gender" value="F"  ng-model="$ctrl.user.gender" required>female<br>
                   <span class="bg-warning" ng-if="(userForm.email.$error.required &&!userForm.$pristine)">Gender is required</span><br>
                   <label for="address">Address </label><textarea type="text" name="address" class="form-control" ng-model="$ctrl.user.address" required></textarea>
                   <span class="bg-warning" ng-if="(userForm.address.$error.required && !userForm.$pristine)">Address is required</span><br>
               </form>
           </div>
           <div class="panel-footer">
               <button ng-click="$ctrl.addUser($ctrl.user)" data-original-title="Edit this user" data-toggle="tooltip" type="submit" class="btn btn-sm btn-success" ng-disabled="userForm.$invalid"><i class="glyphicon glyphicon-ok"></i></button>
               <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" ui-sref="list"><i class="glyphicon glyphicon-repeat"></i></a>
               </div>
       </div>
   </div>