<div class="container">
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-left">
				<ul class="nav nav-pills">
					<li ng-class="{active: $ctrl.$state.includes('mails')}"><a ui-sref="inbox" >MAILBOX</a></li>
					<li  ng-class="{active: ($ctrl.$state.includes('users')|| $ctrl.$state.includes('userdetail'))}"><a ui-sref="list">CONTACTS</a></li>
				</ul>
			</div>
			<p class="navbar-text navbar-right">Signed in as: <b>{{$ctrl.user.username}}</b>
				<button ui-sref="login" ng-if="!$ctrl.loggedIn.isAuth">Sign in</button>
				<button  ng-click="$ctrl.logout()" ng-if="$ctrl.loggedIn.isAuth">Sign out</button></p>
			</div>
		</div>
		<ui-view></ui-view>
	</div>